<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



  
<div th:fragment="header">

<link th:href="@{/css/header.css}" rel="stylesheet">

   <!-- 어사이드 인클루드 -->
   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript">
      $(document).ready(function () {

         $("#aside").load("/aside");  // 어사이드 인클루드
         $("#chatting").load("/chatting");  // 채팅 인클루드
         $("#join").load("/join");  // 회원가입 인클루드
         $("#login").load("/login");  // 로그인 인클루드

         // 아이콘 클릭하면 어사이드메뉴 뜨게
         $(".pic").click(function () {
            $("#lightbox").show();
         });
         $(".lightbox2").click(function () {
            $("#lightbox").hide();
         });

      });
   </script>
   <script type="text/javascript">
      $(document).ready(function () {

         // 아이콘 클릭하면 채팅창 뜨고 x버튼 누르면 끄기
         $(".h_bottom_menu").click(function () {
            $("#chatting").show();
         });
         $("#chatting_close").click(function () {
            $("#chatting").hide();
         });

      });
   </script>
   <script type="text/javascript">
      $(document).ready(function () {

         // join 클릭하면 회원가입창 뜨고 x버튼 누르면 끄기
         $(".join_icon").click(function () {
            $("#join_bg").show();
         });
         $("#join_close").click(function () {
            $("#join_bg").hide();
         });

      });
   </script>
   <script type="text/javascript">
      $(document).ready(function () {

         // login 클릭하면 로그인창 뜨고 x버튼 누르면 끄기
         $(".login_icon").click(function () {
            $("#login_bg").show();
         });
         $("#login_close").click(function () {
            $("#login_bg").hide();
         });

      });
   </script>





      <!-- 헤더 -->
      <div class="header_outbox">
         <div id="header_join">
            <ul>
               <li class="login_icon" sec:authorize="isAnonymous()" >LOGIN</li>
               <li sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
               <!-- 회원가입 -->
               <li class="join_icon">JOIN</li>
               <li><img src="/img/cart.png" width="25px"></li>
            </ul>
         </div>

         <div class="header_logo">

            <div>
               <div id="header_logo_logo">
                  <a href="/"><img src="/img/header_logo.png"></a>
               </div>
               <div class="header_logo_bottom">
                  <span>귀품의 색, 향, 미를 고귀한 분들께 전해드립니다.</span>
               </div>
            </div>

         </div>
         <div class="header_menu">
            <div>
               <!-- 왼쪽 어사이드 띄울 아이콘 -->
               <img id="h_left_menu" class="pic" src="/img/header_left_menu.png">

               <ul>
                  <li class="h_menu_main1"><a href="/">차차</a></li>
                  <li class="h_menu_main1"><a th:href="@{/cha/list}"> 잎차</a>
                     <ul class="h_menu_sub1">
                        <li><a th:href="@{/cha/list}">녹차</a></li>
                        <li>백차</li>
                        <li>청차</li>
                        <li>홍차</li>
                        <li>흑차</li>
                     </ul>
                  </li>
                  <li class="h_menu_main1">티백
                     <ul class="h_menu_sub1">
                        <li>뿌리차</li>
                        <li>허브차</li>
                        <li>과일차</li>
                     </ul>
                  </li>
                  <li class="h_menu_main1">차도구
                     <ul class="h_menu_sub1">
                        <li>다기</li>
                        <li>자사호</li>
                     </ul>
                  </li>
                  <li class="h_menu_main1">eco friendly<img src="/img/header_menu_eco.png"> </li>
               </ul>
            </div>


            <!-- 인클루드 조인 -->
            <div id="join_bg">
               <div id="join"> </div>
               <!-- 조인창 닫는 버튼   -->
               <div id="join_close"></div>
            </div>

            <!-- 인클루드 로그인 -->
            <div id="login_bg">
               <div id="login"></div>
               <!-- 로그인 닫는 버튼 -->
               <div id="login_close"></div>
            </div>

            <!-- 채팅창 띄울 아이콘 -->
            <img class="h_bottom_menu" src="/img/bottom_icon.png">

         </div>
         <!-- 인클루드 어사이드메뉴 -->
         <div id="lightbox" class="lightbox2">
            <div id="aside"></div>

         </div>

         <!-- 인클루드 채팅창 -->
         <div id="chatting"></div>
         <!-- 채팅창 닫는 버튼 -->
         <div id="chatting_close"></div>

      </div>
   </div>



</html>