<html layout:decorate="~{layout}">
<!-- [외부 css 스타일 지정] -->
<link th:href="@{/css/kwon.css}" rel="stylesheet">
\

<!-- 메인 이미지 페이드인아웃, 타임리프 레이아웃 스크립트 추가 -->
<th:block layout:fragment="script">
   <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
   <script>
      $(document).ready(function () {

         $(".slide > div:gt(0)").hide();

         setInterval(function () {
            $('.slide > div:first')
               .fadeOut(2000)
               .next()
               .fadeIn(2000)
               .end()
               .appendTo('.slide');
         }, 4000);

      });

   </script>


   <!-- 중간이미지 3개 슬라이드 -->
   <script type="text/javascript">
      $(document).ready(function () {
         var imgs;
         var img_count;
         var img_position = 1;

         imgs = $(".cd1 ul");
         img_count = imgs.children().length;

         //버튼을 클릭했을 때 함수 실행
         $('#back').click(function () {
            back();
         });
         $('#next').click(function () {
            next();
         });

         function back() {
            if (1 < img_position) {
               imgs.animate({
                  left: '+=975px'
               });
               img_position--;
            }
         }
         function next() {
            if (img_count > img_position) {
               imgs.animate({
                  left: '-=975px'
               });
               img_position++;
            }
         }

      });
   </script>

   <!-- 맨아래 이미지 페이드인아웃 -->
   <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
   <script>
      $(document).ready(function () {

         $(".in_main_smalimg > div:gt(0)").hide();

         setInterval(function () {
            $('.in_main_smalimg > div:first')
               .fadeOut(0)
               .next()
               .fadeIn(0)
               .end()
               .appendTo('.in_main_smalimg');
         }, 3000);

      });

   </script>
</th:block>

<div layout:fragment="content">

   <div class="in_main_out">

      <div class="in_main_bigimg">
         <div class="slide">
            <div class="slideImg">
               <img src="/img/main_big1.jpg" style="object-fit: cover">
            </div>
            <div class="slideImg">
               <img src="/img/main_big2.jpg">
            </div>
            <div class="slideImg">
               <img src="/img/main_big3.jpg">
            </div>
         </div>
      </div>


      <!-- 어사이드 메뉴아이콘 다른 서브메인페이지에 복붙  -->
      <div class="in_main_none1">

      </div>

      <div class="in_main_text">
         <div>
            차 한잔은 평화의 한 잔입니다.<br>
            차차의 차가 여러분의 일상에서<br>
            하나의 고전(古典)이 될 때 까지<br>
            좋은 차를 만드는<br>
            노력을 지속하겠습니다.
         </div>
      </div>

      <!-- 공란 -->
      <div class="in_main_none2"></div>

      <!-- 중간이미지 3개 -->
      <div class="in_main_3_img">
         <div class="cd1">
            <img id="back" src="/img/icon_left.png" alt="">
            <ul>
               <li><img src="/img/main_smal_1.png"></li>
               <li><img src="/img/main_smal_2.png"></li>
            </ul>
            <img id="next" src="/img/icon_right.png" alt="">
         </div>
      </div>

      <div class="in_main_logo">
         <div>
            <img src="/img/header_logo.png">
         </div>
      </div>

      <!-- 맨마지막 슬라이드 -->
      <div class="in_main_smalimg">
         <div class="cd2">
            <img class="cd2_img" src="/img/main_big_bottom1.jpg">
         </div>
         <div class="cd2">
            <img class="cd2_img" src="/img/main_big_bottom2.jpg">
         </div>
         <div class="cd2">
            <img class="cd2_img" src="/img/main_big_bottom3.jpg">
         </div>

      </div>

   </div>




</html>