<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="../static/css/join_box.css">
</head>

<body>

   <img src="../static/img/join_회원가입창.png" class="join_box_out">

   <div class="join_box_in">

      <div class="join_text_1">
         <table>
            <tr>
               <td>
                  <div class="join_f"></div>
               </td>
            </tr>
            <tr>
               <td height="20px"> </td>
            </tr>
            <tr>
               <td>
                  &nbsp;<input type="text" placeholder="이메일" class="join_inout_text">
               </td>
            </tr>
            <tr>
               <td>
                  &nbsp;<input type="text" placeholder="비밀번호" class="join_inout_text">
               </td>
            </tr>
            <tr>
               <td>
                  &nbsp;<input type="text" placeholder="비밀번호 확인" class="join_inout_text">
               </td>
            </tr>
            <tr>
               <td height="48px"> </td>
            </tr>
            <tr>
               <td>
                  &nbsp;<input type="text" placeholder="이름을 입력하세요" class="join_inout_text">
               </td>
            </tr>
            <tr>
               <td height="47px"> </td>
            </tr>
            <tr>
               <td>
                  &nbsp;<input type="text" placeholder="연락처를 입력하세요" class="join_inout_text">
               </td>
            </tr>
         </table>
         <a href="#">
            <img src="../static/img/join_button.png" class="join_button">
         </a>

      </div>



   </div>




</body>

</html>