<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/css/login.css">


<body>

<form role="form" method="post" action="/login" id="login_form">
   <img src="/img/login_box.png" class="login_out_box">

   <div class="login_in_box_out">

      <img src="/img/join_naver.jpg" class="login_in_box">
      <img src="/img/join_kakao.jpg" class="login_in_box">
      <img src="/img/join_google.jpg" class="login_in_box">
      <div class="login_text_1">
         <table class="login_table">

            <tr>
               <td>
                  &nbsp; <input type="email" name="email" placeholder="이메일" class="login_inout_text1">
               </td>
            </tr>
            <tr>
               <td>
                  &nbsp; <input type="password" name="password" id="password" placeholder="비밀번호" class="login_inout_text2">
               </td>

            </tr>
            <tr>
               <td>
			 
               </td>
            </tr>
         </table>
         <!-- 로그인 버튼-->
         <div class="login_button_a">
            <a type="submit" onclick="document.getElementById('login_form').submit();">
               <img src="/img/login_button1.png" class="login_button_b">
               <img src="/img/login_button2.png" class="login_button_c">
            </a>
         </div>
		
      </div>


</form>



</body>

</html>